<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Some website</title>
    </head>
    <body>
        {{> header}}
        <p>This is a website created as an exercise from Udemy's course - NodeJS Developer 2nd Edition</p>
        {{> footer}}
    </body>
</html>